---
import Base from '../../layouts/Base.astro';
import { tokens } from '../../i18n/tokens.ts';

export function getStaticPaths() {
    return [
        { params: { lang: 'en' } },
        { params: { lang: 'es' } },
        { params: { lang: 'fr' } },
    ];
}

const { lang } = Astro.params;
const token = tokens[lang as keyof typeof tokens];
---

<Base>
    <h1 class="mt-8 font-bold text-4xl text-center">{token['welcome']}</h1>
</Base>